h1, h2, h3, h4, h5, h6 {
	clear: both;
	font-family: $font__headers;
	color: $color__text-header;
}

h1, h2, p.site-title {
	font-weight: 800;
	text-transform: uppercase;
}

.site-title {
	@include font-size(2.5);
	margin-bottom: 0;
	color: $color__text-main;
	text-align: left;
	line-height: 1;
	@include min-screen(640px) {
		@include font-size(4.5);
		text-align: right;
	}
	a, a:visited {
		color: $color__text-main;
		text-decoration: none;
	}
	a:hover {
		border-bottom: 3px solid;
		color: $color__secondary-accent;
	}
}

h1.entry-title {
	@include font-size(2);
	@include min-screen(640px) {
		@include font-size(2.5);
	}
}

h2 {
	@include font-size(2);
}