h1, h2, h3, h4, h5, h6 {
	clear: both;
	font-family: $font__headers;
	color: $color__text-header;
}

h1, h2, p.site-title {
	font-weight: 800;
	text-transform: uppercase;
}

h1 {
	@include font-size(3.5);
	margin-bottom: 0;
	color: $color__text-main;
	text-align: right;
	@include min-screen(640px) {
		@include font-size(4.5);
	}
}

h2 {
	@include font-size(2);
}